<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Iznchat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>

  <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico">

  
</head>
<body>





	<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>


</body>
</html>